/*
.ts-1-36 {
	border: none;
	height: 2px;
	left: 0px;
	line-height: 2px;
	padding: 0px;
	width: 35px;
}

.ts-1-37 {
	border: none;
	height: 2px;
	left: 35px;
	line-height: 2px;
	padding: 0px;
	width: 965px;
	margin-top: 0px;
}

.ts-1-38 {
	border: none;
	height: 2px;
	left: 1000px;
	line-height: 2px;
	padding: 0px;
	width: 1px;
}
*/