.ts-1-15 {
	border: none;
	height: inherit;
	left: 0px;
	line-height: inherit;
	padding: 0px;
	width: 35px;
	float:left;
}

.ts-1-17 {
	border: none;
	height: inherit;
	left: 130px;
	line-height: inherit;
	padding: 0px;
	width: 3px;
}

.ts-1-18 {
	border: none;
	height: inherit;
	left: 133px;
	line-height: inherit;
	padding: 0px;
	width: 76px;
}

.ts-1-19 {
	border: none;
	height: inherit;
	left: 209px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 4px;
}

.ts-1-20 {
	border: none;
	height: inherit;
	left: 213px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 77px;
}

.ts-1-21 {
	border: none;
	height: inherit;
	left: 290px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 85px;
}

.ts-1-22 {
	border: none;
	height: inherit;
	left: 375px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 3px;
}

.ts-1-23 {
	border: none;
	height: inherit;
	left: 378px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 75px;
}

.ts-1-24 {
	border: none;
	height: inherit;
	left: 453px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 5px;
}

.ts-1-25 {
	border: none;
	height: inherit;
	left: 458px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 111px;
}

.ts-1-26 {
	border: none;
	height: inherit;
	left: 569px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 6px;
}

.ts-1-27 {
	border: none;
	height: inherit;
	left: 575px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 93px;
}

.ts-1-28 {
	border: none;
	height: inherit;
	left: 668px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 3px;
}

.ts-1-29 {
	border: none;
	height: inherit;
	left: 671px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 88px;
}

.ts-1-30 {
	border: none;
	height: inherit;
	left: 759px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 6px;
}

.ts-1-31 {
	border: none;
	height: inherit;
	left: 765px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 94px;
}

.ts-1-32 {
	border: none;
	height: inherit;
	left: 859px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 5px;
}

.ts-1-33 {
	border: none;
	height: inherit;
	left: 864px;
	line-height: inherit;
	padding: 0px;
	position: absolute;
	top: 93px;
	width: 99px;
}

.ts-1-34 {
	border: none;
	height: inherit;
	left: 963px;
	line-height: inherit;
	padding: 0px;
	width: 37px;
	float:left;
}

.ts-1-35 {
	border: none;
	height: inherit;
	left: 1000px;
	line-height: inherit;
	padding: 0px;
	width: 1px;
	float:left;
}
