@charset "utf-8";
/* CSS Document */


.ts-1-39 {
	border: none;
	height: 24px;
	left: 0px;
	line-height: 24px;
	padding: 0px;
	width: 1000px;
}

.ts-1-41 {
	border: none;
	height: 24px;
	left: 1000px;
	line-height: 24px;
	padding: 0px;
	width: 1px;
}
